# Executables
*.exe
*.out
*.app

# Object / build files
*.o
*.obj
*.so
*.dll
*.lib

# Logs
*.log

# Text
*.txt

# VS Code settings (user-specific)
.vscode/

# Build folders (future-proof)
build/
bin/

# Configuration
config.ini

OLD_NOT_NEEDED/